/.Conversion.java._trace
/.Conversor.java._trace
/.ConversorBasico.java._trace
/.ConversorGenerico.java._trace
/.ConversorSincronizado.java._trace
/.GramosAOnzaConversion.java._trace
/.KmAMillasConversion.java._trace
/.MillasAKmConversion.java._trace
/.OnzaAGramosConversion.java._trace
